
.profile{
    position: relative;
    margin-top: 150px;
    width: 100%;
    height: auto;
    padding: 10px;
}
#backimg{
    width: 100%;
    background-image: url("https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D");
    height: 300px;
    border-radius: 10px;
}
#profileimg img{
    position: absolute;
    bottom: -5%;
    margin-top: 20px;
    margin-left: 10px;
    width: 200px;
    height: 200px;
    border-radius:50% ;
}
#text1{
    display: flex;
    padding-top: 10px;
    padding-left: 250px;
}
#text1 span{
    margin-left: 50px;
}
.sidenav{
    margin-top: 50px;
    width: 320px;
    border-radius: 10px;
    height: 500px;
    background-color: rgba(154, 152, 149, 0.119);
    text-align: center;
}
#main{
    display: flex;
    margin: 10px;
}
.sidenav div{
    width: 100%;
}
.sidenav #name{
    margin-bottom: 10px;
    font-size: 50px;
}
.sidenav #uniname{
    font-size: 40px;
    border-bottom:2px dashed black;
    color: #4329A6
}
.sidenav #uni{
    margin-top: 10px;
    font-size: 20px;
}
.sidenav #addrs{
    font-size: 15px;
    color: #876CEF;
}
.sidenav #skills{
    margin-top: 20px;
    font-size: 40px;
    color: #4329A6;
    border-bottom: 2px dashed black;
}
#skillist{
    display: flex;
}

#skill1{
    margin: 5px;
    font-size: 20px;
    width: fit-content;
    border-radius: 5px;
    height: 25px;
    background-color: #876CEF;
    color: white;

}
#skill2{
    margin: 5px;
    font-size: 20px;
    width: fit-content;
    border-radius: 5px;
    height: 25px;
    background-color: #876CEF;
    color: white;
}
#skill3{
    margin: 5px;
    font-size: 20px;
    width: fit-content;
    border-radius: 5px;
    height: 25px;
    background-color: #876CEF;
    color: white;
}
.about{
    width: 80%;
    margin: 10px;
    margin-top: 50px;
    border-radius: 20px;
    height: auto;
    background-color: rgba(192, 190, 190, 0.317);
}
.about .ele{
    width: 100%;
    height: 150px;
}
.headings1{
    font-size: 30px;
    margin-left: 10px;
    margin-top: 10px;
    border-bottom: 3px dashed black;
}

.description{
    margin-left: 10px;
    margin-top: 10px;   

}