:root {

	--background: hsla(220, 17%, 7%, 1);
	--banner-background: hsla(250, 6%, 20%, 1);
	--white-alpha-20: hsla(0, 0%, 100%, 0.2);
	--on-background: hsla(220, 100%, 95%, 1);
	--on-surface: hsla(250, 100%, 95%, 1);
	--on-surface-variant: hsla(250, 1%, 44%, 1);
	--primary: hsla(349, 100%, 43%, 1);
	--primary-variant: hsla(349, 69%, 51%, 1);
	--rating-color: hsla(44, 100%, 49%, 1);
	--surface: hsla(250, 13%, 11%, 1);
	--text-color: hsla(250, 2%, 59%, 1);
	--white: hsla(0, 0%, 100%, 1);

	--banner-overlay: 90deg, hsl(220, 17%, 7%) 0%, hsla(220, 17%, 7%, 0.5) 100%;
	--bottom-overlay: 180deg, hsla(250, 13%, 11%, 0), hsla(250, 13%, 11%, 1);

	--ff-dm-sans: "DM Sans", sans-serif;

	--fs-heading: 4rem;
	--fs-title-lg: 2.6rem;
	--fs-title: 2rem;
	--fs-body: 1.8rem;
	--fs-button: 1.5rem;
	--fs-label: 1.4rem;

	--weight-bold: 700;

	--shadow-1: 0 1px 4px hsla(0, 0%, 0%, 0.75);
	--shadow-2: 0 2px 4px hsla(350, 100%, 43%, 0.3);

	
	--radius-4: 4px;
	--radius-8: 8px;
	--radius-16: 16px;
	--radius-24: 24px;
	--radius-36: 36px;

	--transition-short: 250ms ease;
	--transition-long: 500ms ease;
}


*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
img,
span,
iframe,
button {
	display: block;
}
a {
	color: inherit;
	text-decoration: none;
}
img {
	height: auto;
}
input,
button {
	background: none;
	border: none;
	font: inherit;
	color: inherit;
}
input {
	width: 100%;
}
button {
	text-align: left;
	cursor: pointer;
}
html {
	font-family: var(--ff-dm-sans);
	font-size: 10px;
	scroll-behavior: smooth;
}
body {
	background-color: var(--background);
	color: var(--on-background);
	font-size: var(--fs-body);
	line-height: 1.5;
}


