<!-- ######### BY Ash-Codes18 -> Ashmit Mehta ########### -->
<!DOCTYPE html>
<html>
  <head>
    <title>CodeForge</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="images/assets/logo-favicon-color.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>

  </head>
  <body>
    <header class="text-gray-600 body-font" id="header">
      <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
          <a href="/"><img src="images/assets/logo.svg" height="150" width="150"></a>
          <!-- <span class="ml-0 text-xl">CodeForge</span> -->
        </a>
        <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
          <a href="/hackathon" class="mr-5 hover:text-gray-900" >Hackathons</a>
          <a href="/organisation" class="mr-5 hover:text-gray-900">Organizations</a>
          <a href="/code" class="mr-5 hover:text-gray-900">Coding Challenge</a>
          <a href="/file-upload" class="mr-5 hover:text-gray-900">Upload</a>
          <a href="/about" class="mr-5 hover:text-gray-900">About Us</a>
        </nav>
        <a href="/login"><button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Log In
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </button></a>
      </div>
    </header>





    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-20">
            <h1 class="text-2xl font-medium title-font mb-4 text-gray-900">OUR TEAM</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">ZenDevs: creators of CodeForge, the ultimate virtual hackathon hosting platform revolutionizing the coding competition landscape with seamless organization and unparalleled participant experience.</p>
          </div>
          <div class="flex flex-wrap -m-4">
            <div class="p-4 lg:w-1/4 md:w-1/2">
              <div class="h-full flex flex-col items-center text-center">
                <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://media.licdn.com/dms/image/D5635AQGABcMXn_VJbQ/profile-framedphoto-shrink_400_400/0/1707475560123?e=1713574800&v=beta&t=5Yp2A4BWkuM0kA4qelBME4sVCXLtLNpfLA_gOjPbpmM">
                <div class="w-full">
                  <h2 class="title-font font-medium text-lg text-gray-900">Ranit Pal</h2>
                  <h3 class="text-gray-500 mb-3">UI Developer</h3>
                  <p class="mb-4">DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware.</p>
                  <span class="inline-flex">
                    <a class="text-gray-500">
                      <i class="fa-brands fa-github"></i>
                    </a>
                    <a class="ml-2 text-gray-500">
                      <i class="fa-brands fa-linkedin"></i>
                    </a>
                  </span>
                </div>
              </div>
            </div>
            <div class="p-4 lg:w-1/4 md:w-1/2">
              <div class="h-full flex flex-col items-center text-center">
                <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://ashmit.pages.dev/assets/a.jpg">
                <div class="w-full">
                  <h2 class="title-font font-medium text-lg text-gray-900">Ashmit Mehta</h2>
                  <h3 class="text-gray-500 mb-3">UI Developer</h3>
                  <p class="mb-4">DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware.</p>
                  <span class="inline-flex">
                    <a class="text-gray-500">
                      <i class="fa-brands fa-github"></i>
                    </a>
                    <a class="ml-2 text-gray-500">
                      <i class="fa-brands fa-linkedin"></i>
                    </a>
                    </a>
                  </span>
                </div>
              </div>
            </div>
            <div class="p-4 lg:w-1/4 md:w-1/2">
              <div class="h-full flex flex-col items-center text-center">
                <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://media.licdn.com/dms/image/D4D03AQEecTL-SX7MUQ/profile-displayphoto-shrink_400_400/0/1669729275898?e=1718236800&v=beta&t=V5BLjRgLlTKP3ULDc_TY9dnpKmp8l2PcM1BszgAMcQ0">
                <div class="w-full">
                  <h2 class="title-font font-medium text-lg text-gray-900">Rishav Raj</h2>
                  <h3 class="text-gray-500 mb-3">UI Developer</h3>
                  <p class="mb-4">DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware.</p>
                  <span class="inline-flex">
                    <a class="text-gray-500">
                      <i class="fa-brands fa-github"></i>
                    </a>
                    <a class="ml-2 text-gray-500">
                      <i class="fa-brands fa-linkedin"></i>
                    </a>
                  </span>
                </div>
              </div>
            </div>
            <div class="p-4 lg:w-1/4 md:w-1/2">
              <div class="h-full flex flex-col items-center text-center">
                <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://avatars.githubusercontent.com/u/120124805?v=4">
                <div class="w-full">
                  <h2 class="title-font font-medium text-lg text-gray-900">Adarsh Gupta</h2>
                  <h3 class="text-gray-500 mb-3">UI Developer</h3>
                  <p class="mb-4">DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware.</p>
                  <span class="inline-flex">
                    <a class="text-gray-500">
                      <i class="fa-brands fa-github"></i>
                    </a>
                    <a class="ml-2 text-gray-500">
                      <i class="fa-brands fa-linkedin"></i>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    

      <section class="text-gray-600 body-font">
        <div class="container px-5 mb-16 mx-auto">
          <h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">Our Testimonials</h1>
          <div class="flex flex-wrap -m-4">
            <div class="p-4 md:w-1/2 w-full">
              <div class="h-full bg-gray-100 p-8 rounded">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
                  <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
                </svg>
                <p class="leading-relaxed mb-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit voluptates laudantium esse minus aperiam reprehenderit, repellendus quae iure dolor voluptate deleniti id. Fugit nemo ea repellat distinctio, culpa temporibus animi velit nobis aliquid a ut repudiandae officia impedit placeat dolorum, quisquam blanditiis esse laboriosam consequatur rerum numquam! Doloremque, error sed.</p>
                <a class="inline-flex items-center">
                  <img alt="testimonial" src="https://media.licdn.com/dms/image/D4D03AQHTcsd46bUn0g/profile-displayphoto-shrink_800_800/0/1669631145567?e=1718236800&v=beta&t=fozUoy8G8nPor9ikVYg0HJoqmiGzaASdJJamG6nKJTk" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                  <span class="flex-grow flex flex-col pl-4">
                    <span class="title-font font-medium text-gray-900">Mukul Gupta</span>
                    <span class="text-gray-500 text-sm">Co-founder Board Infinity</span>
                  </span>
                </a>
              </div>
            </div>
            <div class="p-4 md:w-1/2 w-full">
              <div class="h-full bg-gray-100 p-8 rounded">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
                  <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
                </svg>
                <p class="leading-relaxed mb-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis in necessitatibus error accusantium quidem nemo tempora corrupti, possimus fugiat sed nostrum, ad distinctio consectetur alias iure, ullam dicta. Molestias in officiis, dicta dolorum ex ipsam est odit architecto adipisci hic suscipit veniam magnam nulla aperiam tenetur. Animi, repellendus! Nostrum, aut?</p>
                <a class="inline-flex items-center">
                  <img alt="testimonial" src="https://media.licdn.com/dms/image/D4D03AQHUEuNzP8bS_A/profile-displayphoto-shrink_800_800/0/1665201281850?e=1718236800&v=beta&t=cTo2TyzdwFMo7Vo4JC0Q3unoVwuW5P6sJYgp6fTF7Ro" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                  <span class="flex-grow flex flex-col pl-4">
                    <span class="title-font font-medium text-gray-900">Sumesh Nair</span>
                    <span class="text-gray-500 text-sm">Co-Founder - Board Infinity</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>




    
    <footer class="text-gray-600 body-font" id="footer">
        <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
          <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
              <img src="images/assets/logo.svg">
              <!-- <span class="ml-3 text-xl">CodeForge</span> -->
            </a>
            <p class="mt-2 text-sm text-gray-500">The platform to Launch and Join Hackathons</p>
          </div>
          <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Products</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Hackathons</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Host a Hackathon</a>
                </li>
              </nav>
            </div>
            
             <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Community</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Organizations</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Discord</a>
                </li>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Past Winners</a>
                </li>
              </nav>
            </div>
           
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Company</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">About Us</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Careers</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Help</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">FAQs</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Support</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Terms & Conditions</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Privacy Policy</a>
                </li>
              </nav>
            </div>
          </div>
        </div>
        <div class="bg-gray-100">
          <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
            <p class="text-gray-500 text-sm text-center sm:text-left">Copyright © 2024  — CodeForge All rights reserved.
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
              <a class="text-gray-500">
                <i class="fa-brands fa-github"></i>
              </a>
              <a class="ml-3 text-gray-500">
                <i class="fa-brands fa-linkedin"></i>
              </a>
              <a class="ml-3 text-gray-500">
                <i class="fa-brands fa-discord"></i>            
              </a>
              <a class="ml-3 text-gray-500">
                <i class="fa-brands fa-instagram"></i>            
              </a>
            </span>
          </div>
        </div>
      </footer>
  

    </body>
    </html>
      