<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="images/assets/logo-favicon-color.svg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    <link rel="stylesheet" href="stylesheets/hackathon.css">
    <!-- @RishavD3V -->
</head>
<body>
    <header class="text-gray-600 body-font" id="header">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <img src="images/assets/logo.svg" height="150" width="150">
            <!-- <span class="ml-0 text-xl">ZenDevs</span> -->
          </a>
          <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover:text-gray-900" >Hackathons</a>
            <a class="mr-5 hover:text-gray-900">Organizations</a>
            <a class="mr-5 hover:text-gray-900">Winners</a>
          </nav>
          <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Log In
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
        </div>
    </header>

    <section class="hero">
        <div class="hero-text">
            <h1>Hackathons</h1>
        </div>
        <div class="hero-search">
            <input class="search-box" type="text" placeholder="Search Hackathon">
            <a href=""><i class="bi bi-search"></i></a>
        </div>
    </section>
    <div class="hero-border">
    </div>


    <section class="main">
        <div class="card-container">
            <div class="card-image">
                <img src="https://img.freepik.com/free-vector/hackathon-isometric-landing-software-development_107791-2942.jpg" alt="">
            </div>
            <div class="card-logo">
                <img src="/images/hackathon/3.png" alt="">
            </div>
            <div class="card-text-container">
                <div class="icons">
                    <i class="bi bi-people-fill"><span class="icon-text">120</span></i>
                    <i class="bi bi-coin"></i>
                </div>
                <div class="card-text">
                    <h3>Build-a-Thon</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae tenetur inventore magnam quia delectus eos?</p>
                </div>
                <div class="tags-container">
                    <div class="tags">
                        <div class="dot"></div>
                        <p>React</p>
                    </div>
                    <div class="tags">
                        <div class="dot"></div>
                        <p>WEB3</p>
                    </div>
                    <div class="tags">
                        <div class="dot"></div>
                        <p>Blockchain</p>
                    </div>
                    <div class="tags">
                        <div class="dot"></div>
                        <p>NFT</p>
                    </div>
                    <div class="tags">
                        <div class="dot"></div>
                        <p>Privacy</p>
                    </div>
                </div>
                <div class="progress-bar"></div>
                 <div class="prize-container">
                    <h4>Prize</h4>
                    <p>$2000</p>
    
                 </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card-image">
                <img src="https://img.freepik.com/free-vector/hackathon-isometric-landing-software-development_107791-2942.jpg" alt="">
            </div>
            <div class="card-logo">
                <img src="/images/hackathon/3.png" alt="">
            </div>
            <div class="card-text-container">
                <div class="icons">
                    <i class="bi bi-people-fill"><span class="icon-text">120</span></i>
                    <i class="bi bi-coin"></i>
                </div>
                <div class="card-text">
                    <h3>Build-a-Thon</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae tenetur inventore magnam quia delectus eos?</p>
                </div>
                <div class="tags-container">
                    <div class="tags">
                        <div class="dot"></div>
                        <p>React</p>
                    </div>
                    <div class="tags">
                        <div class="dot"></div>
                        <p>WEB3</p>
                    </div>
                    <div class="tags">
                        <div class="dot"></div>
                        <p>Blockchain</p>
                    </div>
                    <div class="tags">
                        <div class="dot"></div>
                        <p>NFT</p>
                    </div>
                    <div class="tags">
                        <div class="dot"></div>
                        <p>Privacy</p>
                    </div>
                </div>
                <div class="progress-bar"></div>
                 <div class="prize-container">
                    <h4>Prize</h4>
                    <p>$2000</p>
    
                 </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card-image">
                <img src="https://img.freepik.com/free-vector/hackathon-isometric-landing-software-development_107791-2942.jpg" alt="">
            </div>
            <div class="card-logo">
                <img src="/images/hackathon/3.png" alt="">
            </div>
            <div class="card-text-container">
                <div class="icons">
                    <i class="bi bi-people-fill"><span class="icon-text">120</span></i>
                    <i class="bi bi-coin"></i>
                </div>
                <div class="card-text">
                    <h3>Build-a-Thon</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae tenetur inventore magnam quia delectus eos?</p>
                </div>
                <div class="tags-container">
                    <div class="tags">
                        <div class="dot"></div>
                        <p>React</p>
                    </div>
                    <div class="tags">
                        <div class="dot"></div>
                        <p>WEB3</p>
                    </div>
                    <div class="tags">
                        <div class="dot"></div>
                        <p>Blockchain</p>
                    </div>
                    <div class="tags">
                        <div class="dot"></div>
                        <p>NFT</p>
                    </div>
                    <div class="tags">
                        <div class="dot"></div>
                        <p>Privacy</p>
                    </div>
                </div>
                <div class="progress-bar"></div>
                 <div class="prize-container">
                    <h4>Prize</h4>
                    <p>$2000</p>
    
                 </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card-image">
                <img src="https://img.freepik.com/free-vector/hackathon-isometric-landing-software-development_107791-2942.jpg" alt="">
            </div>
            <div class="card-logo">
                <img src="/images/hackathon/3.png" alt="">
            </div>
            <div class="card-text-container">
                <div class="icons">
                    <i class="bi bi-people-fill"><span class="icon-text">120</span></i>
                    <i class="bi bi-coin"></i>
                </div>
                <div class="card-text">
                    <h3>Build-a-Thon</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae tenetur inventore magnam quia delectus eos?</p>
                </div>
                <div class="tags-container">
                    <div class="tags">
                        <div class="dot"></div>
                        <p>React</p>
                    </div>
                    <div class="tags">
                        <div class="dot"></div>
                        <p>WEB3</p>
                    </div>
                    <div class="tags">
                        <div class="dot"></div>
                        <p>Blockchain</p>
                    </div>
                    <div class="tags">
                        <div class="dot"></div>
                        <p>NFT</p>
                    </div>
                    <div class="tags">
                        <div class="dot"></div>
                        <p>Privacy</p>
                    </div>
                </div>
                <div class="progress-bar"></div>
                 <div class="prize-container">
                    <h4>Prize</h4>
                    <p>$2000</p>
    
                 </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card-image">
                <img src="https://img.freepik.com/free-vector/hackathon-isometric-landing-software-development_107791-2942.jpg" alt="">
            </div>
            <div class="card-logo">
                <img src="/images/hackathon/3.png" alt="">
            </div>
            <div class="card-text-container">
                <div class="icons">
                    <i class="bi bi-people-fill"><span class="icon-text">120</span></i>
                    <i class="bi bi-coin"></i>
                </div>
                <div class="card-text">
                    <h3>Build-a-Thon</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae tenetur inventore magnam quia delectus eos?</p>
                </div>
                <div class="tags-container">
                    <div class="tags">
                        <div class="dot"></div>
                        <p>React</p>
                    </div>
                    <div class="tags">
                        <div class="dot"></div>
                        <p>WEB3</p>
                    </div>
                    <div class="tags">
                        <div class="dot"></div>
                        <p>Blockchain</p>
                    </div>
                    <div class="tags">
                        <div class="dot"></div>
                        <p>NFT</p>
                    </div>
                    <div class="tags">
                        <div class="dot"></div>
                        <p>Privacy</p>
                    </div>
                </div>
                <div class="progress-bar"></div>
                 <div class="prize-container">
                    <h4>Prize</h4>
                    <p>$2000</p>
    
                 </div>
            </div>
        </div>
    </section>

    <footer class="text-gray-600 body-font" id="footer">
        <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
          <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
              <img src="images/assets/logo.svg">
              <!-- <span class="ml-3 text-xl">ZenDevs</span> -->
            </a>
            <p class="mt-2 text-sm text-gray-500">The platform to Launch and Join Hackathons</p>
          </div>
          <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Products</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Hackathons</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Host a Hackathon</a>
                </li>
              </nav>
            </div>
            
             <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Community</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Organizations</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Discord</a>
                </li>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Past Winners</a>
                </li>
              </nav>
            </div>
           
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Company</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">About Us</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Careers</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Help</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">FAQs</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Support</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Terms & Conditions</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Privacy Policy</a>
                </li>
              </nav>
            </div>
          </div>
        </div>
        <div class="bg-gray-100">
          <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
            <p class="text-gray-500 text-sm text-center sm:text-left">Copyright © 2024  — ZenDevs All rights reserved.
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
              <a class="text-gray-500">
                <i class="fa-brands fa-github"></i>
              </a>
              <a class="ml-3 text-gray-500">
                <i class="fa-brands fa-linkedin"></i>
              </a>
              <a class="ml-3 text-gray-500">
                <i class="fa-brands fa-discord"></i>            
              </a>
              <a class="ml-3 text-gray-500">
                <i class="fa-brands fa-instagram"></i>            
              </a>
            </span>
          </div>
        </div>
      </footer>
</body>
</html>