<!-- ######### BY Ash-Codes18 -> Ashmit Mehta ########### -->
<!DOCTYPE html>
<html>
  <head>
    <title>CodeForge</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="images/assets/logo-favicon-color.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>

  </head>
  <body>
    <header class="text-gray-600 body-font" id="header">
      <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
          <img src="images/assets/logo.svg" height="150" width="150">
          <!-- <span class="ml-0 text-xl">CodeForge</span> -->
        </a>
        <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
          <a class="mr-5 hover:text-gray-900" >Hackathons</a>
          <a class="mr-5 hover:text-gray-900">Organizations</a>
          <a class="mr-5 hover:text-gray-900">Winners</a>
        </nav>
        <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Log In
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </button>
      </div>
    </header>



    <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
          <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
              <h2 class="text-sm title-font text-gray-500 tracking-widest">Build-A-Thon</h2>
              <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">Build, deploy, & monetize dApps. Win upto 2 lakh INR.</h1>
              <div class="flex mb-4">
                <a class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">Description</a>
                <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Participants Profile</a>
                <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Prizes</a>
              </div>
              <p class="leading-relaxed mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex placeat dolorum iste quod alias ipsam magnam dolor enim a velit, debitis natus. Animi voluptas suscipit odio quibusdam distinctio. Error fugit ipsa ut distinctio quam non dolorum nostrum consectetur sapiente esse.</p>
              <div class="flex border-t border-gray-200 py-2">
                <span class="text-gray-500">Location</span>
                <span class="ml-auto text-gray-900">14-101L</span>
              </div>
              <div class="flex border-t border-gray-200 py-2">
                  <span class="text-gray-500">Registration Closes</span>
                  <span class="ml-auto text-gray-900">15 Apr, 2024 - 17:30</span>
                </div>
                <div class="flex border-t border-b mb-6 border-gray-200 py-2">
                    <span class="text-gray-500">Start Time</span>
                    <span class="ml-auto text-gray-900">05 Apr, 2024 - 17:30 IST</span>
              </div>
              <div class="flex">
                <span class="title-font font-medium text-2xl text-gray-900">April 26th, 2024</span>
                <button onclick = "window.location.href='/register'" class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Register Now</button>
              </div>
            </div>
            <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="images/assets/hackathon-poster.jpg">
          </div>
        </div>
      </section>






    
    <footer class="text-gray-600 body-font" id="footer">
        <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
          <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
              <img src="images/assets/logo.svg">
              <!-- <span class="ml-3 text-xl">CodeForge</span> -->
            </a>
            <p class="mt-2 text-sm text-gray-500">The platform to Launch and Join Hackathons</p>
          </div>
          <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Products</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Hackathons</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Host a Hackathon</a>
                </li>
              </nav>
            </div>
            
             <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Community</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Organizations</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Discord</a>
                </li>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Past Winners</a>
                </li>
              </nav>
            </div>
           
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Company</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">About Us</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Careers</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Help</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">FAQs</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Support</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Terms & Conditions</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Privacy Policy</a>
                </li>
              </nav>
            </div>
          </div>
        </div>
        <div class="bg-gray-100">
          <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
            <p class="text-gray-500 text-sm text-center sm:text-left">Copyright © 2024  — CodeForge All rights reserved.
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
              <a class="text-gray-500">
                <i class="fa-brands fa-github"></i>
              </a>
              <a class="ml-3 text-gray-500">
                <i class="fa-brands fa-linkedin"></i>
              </a>
              <a class="ml-3 text-gray-500">
                <i class="fa-brands fa-discord"></i>            
              </a>
              <a class="ml-3 text-gray-500">
                <i class="fa-brands fa-instagram"></i>            
              </a>
            </span>
          </div>
        </div>
      </footer>
  

    </body>
    </html>
      