<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="stylesheets/profile.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="javascripts/profile.js"></script>

</head>
<body>
  <header class="text-gray-600 body-font" id="header">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <a href="/"><img src="images/assets/logo.svg" height="150" width="150"></a>
        <!-- <span class="ml-0 text-xl">CodeForge</span> -->
      </a>
      <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
        <a href="/hackathon" class="mr-5 hover:text-gray-900" >Hackathons</a>
        <a href="/organisation" class="mr-5 hover:text-gray-900">Organizations</a>
        <a href="/code" class="mr-5 hover:text-gray-900">Coding Challenge</a>
        <a href="/file-upload" class="mr-5 hover:text-gray-900">Upload</a>
        <a href="/about" class="mr-5 hover:text-gray-900">About Us</a>
      </nav>
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <a href="/profile"><img src="https://images.unsplash.com/photo-1690394432973-bc1d5d0e1964?q=80&w=1966&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" height="50" width="50" style="border-radius: 50%;"></a>
        <!-- <span class="ml-0 text-xl">CodeForge</span> -->
      </a>
    </div>
  </header>

  
      <div class="profile">
        <div id="backimg">
            <div id="profileimg"><img src="https://plus.unsplash.com/premium_photo-1664302828615-f50dce4307d7?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE2fHx8ZW58MHx8fHx8" alt=""></div>
        </div>
        <div id="text1">
            <span>Overview</span>
            <span>Transactions</span>
        </div>
      </div>
     <div id="main">
        <div class="sidenav">
        <div id="name1">Ranit Pal</div>
        <div id="uniname">University</div>
        <div id="uni">Lovely Professional University</div>
        <div id="addrs">Jalandhar,Punjab</div>
        <div id="skills">Skills</div>
        <div id="skillist">
            <div id="skill1">C++</div>
            <div id="skill2">Java</div>
            <div id="skill3">JavaScript</div>
        </div>
    </div>
    <div class="about">
        <div class="ele">
            <div class="headings1">BIOGRAPHY</div>
            <div class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis tenetur enim numquam totam fugiat, ipsum ipsam odit corrupti mollitia eos.</div>
        </div>
        <div class="ele">
            <div class="headings1">PROJECTS</div>
            <div class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis tenetur enim numquam totam fugiat, ipsum ipsam odit corrupti mollitia eos.</div>
        </div>
        <div class="ele">
            <div class="headings1">HACKATHONS</div>
            <div class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis tenetur enim numquam totam fugiat, ipsum ipsam odit corrupti mollitia eos.</div>
        </div>
        <div class="ele">
            <div class="headings1">WORK EXPERIANCES</div>
            <div class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis tenetur enim numquam totam fugiat, ipsum ipsam odit corrupti mollitia eos.</div>
        </div>
        <div class="ele">
            <div class="headings1">EDUCATIONS</div>
            <div class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis tenetur enim numquam totam fugiat, ipsum ipsam odit corrupti mollitia eos.</div>
        </div>
    </div>
    </div>






      <footer class="text-gray-600 body-font" id="footer">
        <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
          <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
              <img src="images/assets/logo.svg">
              <!-- <span class="ml-3 text-xl">CodeForge</span> -->
            </a>
            <p class="mt-2 text-sm text-gray-500">The platform to Launch and Join Hackathons</p>
          </div>
          <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Products</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Hackathons</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Host a Hackathon</a>
                </li>
              </nav>
            </div>
            
             <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Community</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Organizations</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Discord</a>
                </li>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Past Winners</a>
                </li>
              </nav>
            </div>
           
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Company</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">About Us</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Careers</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Help</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">FAQs</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Support</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Terms & Conditions</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Privacy Policy</a>
                </li>
              </nav>
            </div>
          </div>
        </div>
        <div class="bg-gray-100">
          <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
            <p class="text-gray-500 text-sm text-center sm:text-left">Copyright © 2024  — CodeForge All rights reserved.
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
              <a class="text-gray-500">
                <i class="fa-brands fa-github"></i>
              </a>
              <a class="ml-3 text-gray-500">
                <i class="fa-brands fa-linkedin"></i>
              </a>
              <a class="ml-3 text-gray-500">
                <i class="fa-brands fa-discord"></i>            
              </a>
              <a class="ml-3 text-gray-500">
                <i class="fa-brands fa-instagram"></i>            
              </a>
            </span>
          </div>
        </div>
      </footer>
      <script src="javascripts/login.js"></script>
</body>
</html>