<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="shortcut icon" href="images/assets/logo-favicon-color.svg" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/login.css" />
  
</head>
<body>
    <main>
        <div class="box">
          <div class="inner-box">
            <div class="forms-wrap">
              <form action="index.html" autocomplete="off" class="sign-in-form">
                <div class="logo" style="width: 100%;">
                  <!-- <img src="./img/logo2.jpg" alt="easyclass"  height="100px" width="250px"/> -->
                  <h1 style="color: #151111;">CodeForge&lt;/&gt;</h1> 
                  
                </div>
  
                <div class="heading">
                  <h2>Join Individually</h2>
                  <h6>Have a team?</h6>
                  <a href="#" class="toggle">Join as a team</a>
                </div>
  
                <div class="actual-form">
                  <div class="input-wrap">
                    <input
                      type="text"
                      minlength="4"
                      class="input-field"
                      autocomplete="off"
                      required
                    />
                    <label>Name</label>
                  </div>
  
                  <div class="input-wrap">
                    <input
                      type="email"
                      minlength="4"
                      class="input-field"
                      autocomplete="off"
                      required
                    />
                    <label>Email</label>
                  </div>
  
                  <input type="submit" value="Join Team" class="sign-btn" />
  
                  <!-- <p class="text">
                    Forgotten your password or you login datails?
                    <a href="#">Get help</a> signing in
                  </p> -->
                </div>
              </form>
  
              <form action="index.html" autocomplete="off" class="sign-up-form">
                <div class="logo">
                  <!-- <img src="" alt="easyclass" /> -->
                  <h1 style="color: #151111;">CodeForge&lt;/&gt;</h1>
                </div>
  
                <div class="heading">
                  <h2>Create Team</h2>
                  <h6>Don't have a team yet?</h6>
                  <a href="#" class="toggle">Join Individually</a>
                </div>
  
                <div class="actual-form">
                  <div class="input-wrap">
                    <input
                      type="text"
                      minlength="4"
                      class="input-field"
                      autocomplete="off"
                      required
                    />
                    <label>Leader Name</label>
                  </div>
  
                  <div class="input-wrap">
                    <input
                      type="email"
                      class="input-field"
                      autocomplete="off"
                      required
                    />
                    <label>Email</label>
                  </div>
  
                  <div class="input-wrap">
                    <input
                      type="number"
                      minlength="4"
                      class="input-field"
                      autocomplete="off"
                      required
                    />
                    <label>No of Team Members</label>
                  </div>
  
                  <input type="submit" value="Create Team" class="sign-btn" />
  
                  <p class="text">
                    By signing up, I agree to the
                    <a href="#">Terms of Services</a> and
                    <a href="#">Privacy Policy</a>
                  </p>
                </div>
              </form>
            </div>
  
            <div class="carousel">
              <div class="images-wrapper">
                <img src="images/assets/login1.png" class="image img-1 show" alt="" />
                <img src="images/assets/login2.png" class="image img-2" alt="" />
                <img src="images/assets/login3.png" class="image img-3" alt="" />
              </div>
  
              <div class="text-slider">
                <div class="text-wrap">
                  <div class="text-group">
                    <h2>Unleash your coding prowess</h2>
                    <h2>Win exciting prizes</h2>
                    <h2>join our weekend coding frenzy!</h2>
                  </div>
                </div>
  
                <div class="bullets">
                  <span class="active" data-value="1"></span>
                  <span data-value="2"></span>
                  <span data-value="3"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
  
      <!-- Javascript file -->
  
      <script src="javascripts/login.js"></script>
   
</body>
</html>